name: Publish Docker Image (e2e tests)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker Tag'
        required: true
        default: 'latest'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          platforms: linux/arm64,linux/amd64
          context: .
          file: e2e.Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/aio-lib-state-e2e-tests:${{ github.event.inputs.tag }}
